body {
  margin: 0;
  font-family: "Georgia", sans-serif;
  text-align: center;
  height: 100%;
}

h2 {
  border-bottom: 2px solid #cccccc;
  padding-bottom: 12px;
}

.topnav {
  overflow: hidden;
  background-color: #e8b41a;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.topnav a:hover {
  background-color: #ddd;
  color: #124aa3;
}

.active {
  background-color: #e8b41a;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
  }
}

.my-container {
  max-width: 724px;
  margin: 0 auto;
  padding: 0 0px;
}


/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: relative;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}


.left-block{
  display: inline-block;
  margin-left: 0em;
  margin-right: auto;
}
.right-block{
  display: inline-block;
  margin-right: 0em;
  margin-left: auto;
}

.container {
  position: relative;
  width: 50%;
  margin-top: 20px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: #e8b41a;
}

.overlay a{
  text-decoration: none;
  color: white;
}

.container:hover .overlay {
  opacity: 0.8;
}

.container:hover .image {
  opacity: 0.3;
}

.text{
  color: #f2f2f2;
  font-size: 16px;
  padding: 16px 16px;
  max-width: 300px;
}

.text-block {
    position: absolute;
    width: 300px;
    height: 60px;
    bottom: 0px;
    left: 0px;
    background-color: #e8b41a;
    color: white;
    padding-bottom: 20px;
}

header {
  display: block;
  margin-bottom: 30px;
  padding-top: 0px;
  color: blue;
  text-align: center;
}

.header-img{
  max-width: 100%;
  height: auto;
  background-size: cover;
}

header p{
  font-size: 24px;
  font-weight: normal;
}

.site-footer {
  padding: 40px 0;
  background-color: #ebe8df;
  color: blue;
  text-align: left;
  margin-bottom: 0;
}

.site-footer a {
  margin-left: 10px;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email-header.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-header.svg");
}



.info{
  height: auto;
  margin-bottom: 30px;
  box-sizing: content-box;
  width: 100%;
  float: none;
  overflow: hidden;
}

* {
    box-sizing: border-box;
    overflow: hidden;
}

h1 {
  align-self: center;
    font-size: xx-large;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
    overflow: hidden;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.btn {
    background-color: #e8b41a;
    border: none;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 30px;
    overflow: hidden;
}

.btn:hover {
    background-color: #d9be6c;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #e8b41a;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}